@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the Search Input Clear(x) Icon */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

:root {
  /*
  --app-background-color: rgb(25, 25, 25);
  --app-menu-color: rgb(32, 32, 32);

  --sidebar-width: 240px;
  --navbar-heigth: 64px;
*/
  --header-height: 64px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255, 0.8);
  background: #202124;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
