@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the Search Input Clear(x) Icon */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

:root {
  --header-height: 64px;
  --color-base: #142739;
  --color-base-dark: #0c1b2b;
  --color-base-light: #2c3c4d;
  --color-text-dark: #adb7bf;
  --color-text: #f9fafb;
  --color-button-light: #5a6774;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255, 0.8);
  background: var(--color-base-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
